In [1]:
# import useful stuff
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
df = pd.read_csv('train_ver2.csv', nrows=2000000)
# df = pd.read_csv('train_ver2.csv')

# how many rows have the full file? I'm running with 5 million rows and it occupies 20gb of memory
# when I run with 10 million rows, it seems a similar size than with all rows, so is somewhere near that
# the csv file has 2gb total

/Users/lucasosouza/anaconda/envs/udacity/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.describe()

/Users/lucasosouza/anaconda/envs/udacity/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,ncodpers,ind_nuevo,indrel,indrel_1mes,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,2.000000e+06,1.980972e+06,1.980972e+06,1.980972e+06,1980972.0,1.968845e+06,1.980972e+06,1.645651e+06,2.000000e+06,2.000000e+06,...,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,1.990494e+06,1.990494e+06,2.000000e+06
mean,7.693820e+05,4.490220e-03,1.121549e+00,1.000072e+00,1.0,2.673299e+01,5.453156e-01,1.351959e+05,1.445000e-04,3.300000e-05,...,8.124500e-03,1.172200e-02,3.885000e-03,6.302450e-02,5.699050e-02,3.239950e-02,5.244500e-03,6.626345e-02,7.145915e-02,1.539895e-01
std,3.981139e+05,6.685851e-02,3.449214e+00,1.195216e-02,0.0,1.263372e+01,4.979424e-01,2.247456e+05,1.201995e-02,5.744469e-03,...,8.976913e-02,1.076318e-01,6.220859e-02,2.430071e-01,2.318245e-01,1.770587e-01,7.222879e-02,2.487421e-01,2.575903e-01,3.609388e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.333370e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00
50%,8.339755e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00
75%,1.113527e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00
max,1.394803e+06,1.000000e+00,9.900000e+01,3.000000e+00,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [5]:
df.loc[0]

fecha_dato                      2015-01-28
ncodpers                           1375586
ind_empleado                             N
pais_residencia                         ES
sexo                                     H
age                                     35
fecha_alta                      2015-01-12
ind_nuevo                                0
antiguedad                               6
indrel                                   1
ult_fec_cli_1t                         NaN
indrel_1mes                              1
tiprel_1mes                              A
indresi                                  S
indext                                   N
conyuemp                               NaN
canal_entrada                          KHL
indfall                                  N
tipodom                                  1
cod_prov                                29
nomprov                             MALAGA
ind_actividad_cliente                    1
renta                              87218.1
segmento                 02 - PARTICULARES
ind_ahor_fin_ult1                        0
ind_aval_fin_ult1                        0
ind_cco_fin_ult1                         1
ind_cder_fin_ult1                        0
ind_cno_fin_ult1                         0
ind_ctju_fin_ult1                        0
ind_ctma_fin_ult1                        0
ind_ctop_fin_ult1                        0
ind_ctpp_fin_ult1                        0
ind_deco_fin_ult1                        0
ind_deme_fin_ult1                        0
ind_dela_fin_ult1                        0
ind_ecue_fin_ult1                        0
ind_fond_fin_ult1                        0
ind_hip_fin_ult1                         0
ind_plan_fin_ult1                        0
ind_pres_fin_ult1                        0
ind_reca_fin_ult1                        0
ind_tjcr_fin_ult1                        0
ind_valo_fin_ult1                        0
ind_viv_fin_ult1                         0
ind_nomina_ult1                          0
ind_nom_pens_ult1                        0
ind_recibo_ult1                          0
Name: 0, dtype: object

In [6]:
len(df.columns)

48

In [7]:
# got 33 variables. lets search for the description of each one
# https://www.kaggle.com/c/santander-product-recommendation/data

Let's group the variables into different type of features:
* Grouped by Type
Date or Code: can be index
NCodePers: type of employee. 5 types allowed. Categorical
pais_residencia, sexo, age, conyuemp, indfall, ind_actividad_cliente: categorical features that describe customer. conyuemp describe if it is a spouse of the employee. indfall if dead or not. ind_actividad_cliente active or inactive, boolean. 
fecha_alta: date the customer signed in with the bank
ind_nuevo: boolean. indicates whether or not the customer joined in the last 6 months
antiguedad: continuous. customer seniority in months
indrel, ult_fec_cli_1t, indrel_1mes, tiprel_1mes: related to customer type at a given point in time
indresi, indext: customer location, if foreign or not
canal_entrada: channel used to join
tipodom, cod_prov, nomprov: variables related to customer address
renta: gross income of household. continuous
segmento: customer classification within bank

total of 24 variables per customer

* Varchar (text or long int)
cod_prov: 	Province code (customer's address), probably long int
nomprov: Province name (moved to categorical)
pais_residencia: Customer's Country residence
Code: Customer code. LongInt

* Date
Date: The table is partitioned for this column. Date
fecha_alta: The date in which the customer became as the first holder of a contract in the bank
ult_fec_cli_1t: Last date as primary customer (if he isn't at the end of the month)

* Boolean
indfall: dead or not
ind_actividad_cliente: active or inactive
conyuemp: spouse of employee or not
ind_nuevo: customer joined on past 6 months or not
indresi: residence country is same as bank country
indext: customer birth different than bank country
tipodom: address is primary address or not

* Categorical
segmento: segmentation: 01 - VIP, 02 - Individuals 03 - college graduated
ind_empleado: Employee index: A active, B ex employed, F filial, N not employee, P pasive
sex: sexo
indrel: 1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)
indrel_1mes: Customer type at the beginning of the month ,1 (First/Primary customer), 2 (co-owner ),P (Potential),3 (former primary), 4(former co-owner)
tiprel_1mes: Customer relation type at the beginning of the month, A (active), I (inactive), P (former customer),R (Potential)
canal_entrada: channel used by the customer to join

* Numerical (continous or discrete):
antiguedad: Customer seniority (in months)
age: Age
renta: gross income of household


ind_ahor_fin_ult1 and ...:
these are boolean variables. indicates if the customer have consumed or not this product.
this is what we should be predicting
there are 24 different products

### Missing Values

In [8]:
# checking null values
df.isnull().sum()

fecha_dato                     0
ncodpers                       0
ind_empleado               19028
pais_residencia            19028
sexo                       19036
age                            0
fecha_alta                 19028
ind_nuevo                  19028
antiguedad                     0
indrel                     19028
ult_fec_cli_1t           1997543
indrel_1mes                19028
tiprel_1mes                19028
indresi                    19028
indext                     19028
conyuemp                 1999734
canal_entrada              19167
indfall                    19028
tipodom                    19028
cod_prov                   31155
nomprov                    31155
ind_actividad_cliente      19028
renta                     354349
segmento                   19222
ind_ahor_fin_ult1              0
ind_aval_fin_ult1              0
ind_cco_fin_ult1               0
ind_cder_fin_ult1              0
ind_cno_fin_ult1               0
ind_ctju_fin_ult1              0
ind_ctma_fin_ult1              0
ind_ctop_fin_ult1              0
ind_ctpp_fin_ult1              0
ind_deco_fin_ult1              0
ind_deme_fin_ult1              0
ind_dela_fin_ult1              0
ind_ecue_fin_ult1              0
ind_fond_fin_ult1              0
ind_hip_fin_ult1               0
ind_plan_fin_ult1              0
ind_pres_fin_ult1              0
ind_reca_fin_ult1              0
ind_tjcr_fin_ult1              0
ind_valo_fin_ult1              0
ind_viv_fin_ult1               0
ind_nomina_ult1             9506
ind_nom_pens_ult1           9506
ind_recibo_ult1                0
dtype: int64

Three variables stand out:
* conyuemp : 0 in 100.000 entries. not many customers will be spouse of employees, I guess
* ult_fec_cli_1t: 128 in 100.000 entries. this data represent last date as primary customer. Meaning probably there aren't many customers who change from primary to normal customer
* renta: about 1/5 of the entries are missing. 

Other relevant findings:
* Products ind_nomina_ult1 and ind_nom_pens_ult1 have missing values. That is weird and should be investigated. Why NaN instead of 0?
* For 683 customers, a small percentage (less than 1%), almost all information is missing. Are these relevant to the analysis? Probably not

In [9]:
# what to do with null values?
# df.isnull().sum().sort_values(ascending=False)[:10]

# I will remove the 683 entries with lot's of null values
# for the remaining, I only have an issue with renta
# if I make it 0, it might make my worst. I can try to predict. 
# If I fill with median, it's going to distort my dataset. I will just remove them all for now

# removing the variables with over 90% null values. may try later and check impact
for col in ['ult_fec_cli_1t', 'conyuemp']:
    del df[col]

df = df.dropna()

### Numerical Vars

In [10]:
# let's look at each type of variables in its own turn
# start with numerical
df[numerical_vars].describe()

              renta
count  1.645414e+06
mean   1.351941e+05
std    2.247550e+05
min    1.202730e+03
25%    6.957471e+04
50%    1.032862e+05
75%    1.579284e+05
max    2.889440e+07

In [11]:
df[numerical_vars].dtypes

age            object
antiguedad     object
renta         float64
dtype: object

In [12]:
# age and antigued have no missing values, while rent has a lot, about 1/5. 
# regardless,  these have been tagged as object and not float or int. why?
df['age'].value_counts()
df['antiguedad'].value_counts()

# seems ok till here. let's try to force convert to int
df[['age', 'antiguedad']] = df[['age', 'antiguedad']].convert_objects(convert_numeric=True)
df[numerical_vars].describe()

/Users/lucasosouza/anaconda/envs/udacity/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

                age    antiguedad         renta
count  1.645414e+06  1.645414e+06  1.645414e+06
mean   4.115465e+01  8.186675e+01  1.351941e+05
std    1.708962e+01  1.910820e+03  2.247550e+05
min    2.000000e+00 -9.999990e+05  1.202730e+03
25%    2.500000e+01  3.000000e+01  6.957471e+04
50%    4.000000e+01  6.900000e+01  1.032862e+05
75%    5.100000e+01  1.390000e+02  1.579284e+05
max    1.160000e+02  2.460000e+02  2.889440e+07

### Boolean Vars

In [13]:
boolean_vars = ['indfall', 'ind_actividad_cliente', 'ind_nuevo', 'indresi', 'indext', 'tipodom']

# first, let's check if they are indeed boolean
for var in boolean_vars:
    print(df[var].value_counts())

N    1641286
S       4128
Name: indfall, dtype: int64
1.0    911661
0.0    733753
Name: ind_actividad_cliente, dtype: int64
0.0    1638309
1.0       7105
Name: ind_nuevo, dtype: int64
S    1645398
N         16
Name: indresi, dtype: int64
N    1580095
S      65319
Name: indext, dtype: int64
1.0    1645414
Name: tipodom, dtype: int64

Things to note:
* All primary address flag have returned True (tipodom). It can be discarded
* Most of these boolean are highly skewed towards either S(yes) or N(no). Includes, ind_nuevo (new client or not), indresi(lives in country or not), indext(foreign or not). These will not be such useful features
* Only 40% of the customers are active. I will assume inactive customers wont't buy new stuff, so we can apply a simple heuristic in the classification as the first step. Should also include in this heuristic dead customers, although dead customers are probably inactive
* Finally, not all are 0 or 1, they are tagged as S/N. Can convert to 0 or 1

In [14]:
# check if all dead customers are inactive
df.loc[df['indfall'] == 'S', 'ind_actividad_cliente'].sum()

2469.0

14 out of 21 dead customers are active. So I should not take this for granted

In [15]:
# convert S/N to boolean
for var in ['indfall', 'indresi', 'indext']:
    df[var] = df[var] == 'S'
    
# mark columns to be removed, later. need to check entire dataset to be sure
columns_to_remove = ['tipodom']

In [16]:
df[boolean_vars].dtypes

indfall                     bool
ind_actividad_cliente    float64
ind_nuevo                float64
indresi                     bool
indext                      bool
tipodom                  float64
dtype: object

### Varchar Vars

In [17]:
varchar_vars = ['cod_prov', 'nomprov', 'pais_residencia', 'ncodpers']

In [18]:
# a short disgression to check how recent is the database of customers
# df.ix[0, 'ncodpers'], df.ix[99999, 'ncodpers']

# it seems more like a sort descending, so it can be that they gave me training data for old customers.
# The test data will most likely represent newer customers, so it is a longitudinal split, not random
# That hypothesis get stronger if we consider there are only 21 customers who joined in the past 6 months
# need to confirm this later

In [19]:
# A look at the others
# how many different countries. If not a lot, move to categorical _vars
df['pais_residencia'].value_counts()[:5]

ES    1645398
IT          6
PY          4
DE          3
BO          3
Name: pais_residencia, dtype: int64

There are 33 different countries. But the data is very sparse, with over 99% concentrated in Spain. It is already represented in the boolean variable if the client is foreign or not, or if he/she lives abroad or not. So this country data as it is may not be so useful in a general classification problem. But, if I train foreigns separately, in a different classifier, I believe this variable will be more significant. For now I will remove.

In [20]:
# check nom_prov
df['nomprov'].value_counts()[:5]

MADRID       610026
BARCELONA    149077
SEVILLA       81861
VALENCIA      79467
CORUÑA, A     47611
Name: nomprov, dtype: int64

52 different provincies, data is less sparse. This might be relevant, I should defintely apply one_hot_encoding to use as a featuere. Will move over to categorical vars

In [21]:
df['cod_prov'].value_counts().count()

51

52, same name. Just a representation for province name. Can be removed. I will keep the name so I can later map results to provinces.

In [22]:
for col in ['cod_prov', 'pais_residencia', 'ncodpers']:
    columns_to_remove.append(col)

### Categorical Vars

In [23]:
categorical_vars = ['segmento', 'ind_empleado', 'sexo', 'indrel', 
                    'indrel_1mes', 'tiprel_1mes', 'canal_entrada', 'nomprov']

for var in categorical_vars:
    print(df[var].value_counts()[:5])

02 - PARTICULARES     1000742
03 - UNIVERSITARIO     557917
01 - TOP                86755
Name: segmento, dtype: int64
N    1644081
B        528
A        411
F        391
S          3
Name: ind_empleado, dtype: int64
V    907045
H    738369
Name: sexo, dtype: int64
1.0    1645396
Name: indrel, dtype: int64
1.0    1645412
3.0          2
Name: indrel_1mes, dtype: int64
A    888068
I    757344
P         2
Name: tiprel_1mes, dtype: int64
KHE    516619
KAT    452025
KFC    405833
KFA     62589
KHK     18458
Name: canal_entrada, dtype: int64
MADRID       610026
BARCELONA    149077
SEVILLA       81861
VALENCIA      79467
CORUÑA, A     47611
Name: nomprov, dtype: int64

Notes:
* ind_empleado only has N, meaning not employee. Can be removed if same pattern for full dataset
* indrel are also all 1 (first/primary). Not sure from the description whether or not this is a boolean variable (would be boolean if 1 and 99 are the only options). Needs to check full dataset
* indrel_1mes, or customer type at beggining of the month, are mostly 1 (first/primary). Only 3 entries are 3(former/primary)> Does not seem relevant.
* tiprel_1mes is mainly divided between Active and Inactive, with 3 former, probably same 3 as last field indrel_1mes. If this data is correlated with boolean field ind_actividad_cliente, it may be discarded
* Segmento, sexo, canal_entrada, and nomprov seems like good variables to differentiate customers

In [24]:
# remove indrel, indrel_1mes, ind_empleado
for col in ['indrel', 'indrel_1mes', 'ind_empleado']:
    columns_to_remove.append(col)

# check correlation between indrel_1Mes and ind_actividad_cliente
# pd.pivot_table(df[['ind_actividad_cliente', 'tiprel_1mes']], index= ['ind_actividad_cliente', 'tiprel_1mes'],
#              aggfunc=len)

# not 100% certain... can keep both variables for now

In [25]:
# one hot encode  remaining categorical vars with
categorical_vars = ['segmento', 'sexo', 'tiprel_1mes', 'canal_entrada', 'nomprov']

df = pd.get_dummies(df, prefix=None, prefix_sep='_', dummy_na=False, 
                   columns=categorical_vars, sparse=False, drop_first=False)

### Date Vars

In [26]:
# finally, let's look at date variables
date_vars = ['fecha_dato', 'fecha_alta']
df[date_vars].describe()

        fecha_dato  fecha_alta
count      1645414     1645414
unique           4        6252
top     2015-03-28  2014-07-28
freq        518439        7698

In [27]:
# df['ult_fec_cli_1t'].value_counts()[:5]

Notes:
* fecha_dato only has one value. Is not useful and should be removed
* fecha alta would make more sense as in number of days or months since the customer made the first contract. But that would be the same as seniority, no? Let's calculate and check if there is a correlation between then

In [28]:
# will just drop it for now... come back to this later
#base_date = df.ix[0, 'fecha_dato']
#months_since_first_contract = df['fecha_alta'] - base_date

for col in date_vars:
    columns_to_remove.append(col)

### First Shot at Prediction

After all required corvertions have been made, I can make a first shot at predicting. First question we need to ask is, what I'm a predicting?

I'm predicting comsuption of a certain product. I have a total of 24 booleans that will tell whether or not this customer consumed this product. These are my labels for a One vs All classification model.

In [29]:
# separate the labels
labels = []
for col in df.columns:
    if col[:4] == 'ind_' and col[-4:] == 'ult1':
        labels.append(col)
len(labels)

24

In [30]:
# X is the vars
# y is the label
# but what is it I'm trying to predict?
# I can run one classifier per product, why not?
# let's start with this one

In [31]:
X = df[df.columns - columns_to_remove - labels]
y = df[labels]

/Users/lucasosouza/anaconda/envs/udacity/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: using '-' to provide set differences with Indexes is deprecated, use .difference()
  if __name__ == '__main__':

In [32]:
# these variables are now singletons, should remove them as well
for col in X:
    if len(X[col].value_counts()) == 1:
        del X[col]

In [33]:
# y['ind_cco_fin_ult1'].value_counts()
# y.dtypes

In [34]:
from sklearn.tree import DecisionTreeClassifier as Tree
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedShuffleSplit
import pdb

In [35]:
# avoid undefined metric warning when calculating precision with 0 labels defined as 1
import warnings
warnings.filterwarnings('ignore')

In [36]:
# predict and output accuracy for each product
# use cross validation
for label in labels:
    if len(y[label].value_counts()) != 1:
        clf = Tree()
        cv = StratifiedShuffleSplit()
        score = cross_val_score(estimator=clf, X=X, y=y[label], scoring='precision', cv=cv)
        print(y[label].value_counts(), score.mean(), score.std())

0    1645160
1        254
Name: ind_ahor_fin_ult1, dtype: int64 0.970206896552 0.0511357801766
0    1645352
1         62
Name: ind_aval_fin_ult1, dtype: int64 0.985714285714 0.0428571428571
1    1269489
0     375925
Name: ind_cco_fin_ult1, dtype: int64 0.99152856454 0.000196028244108
0    1644551
1        863
Name: ind_cder_fin_ult1, dtype: int64 0.965683030844 0.020322498497
0    1476468
1     168946
Name: ind_cno_fin_ult1, dtype: int64 0.973648821087 0.000765942114241
0    1622524
1      22890
Name: ind_ctju_fin_ult1, dtype: int64 0.994655992375 0.00102340105462
0    1624537
1      20877
Name: ind_ctma_fin_ult1, dtype: int64 0.932060708999 0.00730638362076
0    1352065
1     293349
Name: ind_ctop_fin_ult1, dtype: int64 0.991866063957 0.0007669917408
0    1537170
1     108244
Name: ind_ctpp_fin_ult1, dtype: int64 0.987980114702 0.00103033759025
0    1640709
1       4705
Name: ind_deco_fin_ult1, dtype: int64 0.698795353773 0.0158777076643
0    1640948
1       4466
Name: ind_deme_fin_ult1, dtype: int64 0.962167894482 0.00796404049642
0    1544316
1     101098
Name: ind_dela_fin_ult1, dtype: int64 0.962711885045 0.00156121964253
0    1474925
1     170489
Name: ind_ecue_fin_ult1, dtype: int64 0.977810673244 0.00120450810222
0    1606327
1      39087
Name: ind_fond_fin_ult1, dtype: int64 0.969384811498 0.00301675715707
0    1631226
1      14188
Name: ind_hip_fin_ult1, dtype: int64 0.991800811434 0.00400830953493
0    1624828
1      20586
Name: ind_plan_fin_ult1, dtype: int64 0.986514158654 0.00365913824098
0    1639757
1       5657
Name: ind_pres_fin_ult1, dtype: int64 0.986346897958 0.0109654457716
0    1538860
1     106554
Name: ind_reca_fin_ult1, dtype: int64 0.990634010281 0.00113973590123
0    1546501
1      98913
Name: ind_tjcr_fin_ult1, dtype: int64 0.893083588253 0.00432920107387
0    1590591
1      54823
Name: ind_valo_fin_ult1, dtype: int64 0.976741684205 0.00252125431111
0    1636152
1       9262
Name: ind_viv_fin_ult1, dtype: int64 0.985158642825 0.00695727339837
0.0    1529177
1.0     116237
Name: ind_nomina_ult1, dtype: int64 0.909737688179 0.00353717409375
0.0    1520048
1.0     125366
Name: ind_nom_pens_ult1, dtype: int64 0.893211345766 0.00249274557236
0    1378336
1     267078
Name: ind_recibo_ult1, dtype: int64 0.938439856971 0.00131615661721

Some results are good, some suck horribly. Let's see what I can get with the full dataset.